@font-face {
  font-family: fuente_1;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/ArcadeClassic.ttf);
}

font {
  font-family: fuente_1;
  font-size: 80px;
  color: white;
}

.img-responsive {
  width: 350%;
  max-width: 450px;
}
