@font-face {
    font-family: fuente_1;
    font-size: 100px;
    src: url(../fonts/ArcadeClassic.ttf);
}

/* Index Lacman CSS */
.body {
    background-color: black;
}
  
.title {
    margin-left: 30%;
}
    
.btn-light {
    margin-right: 2%;
    margin-left: 90%;
    margin-top: 1%;
}
 
.window {
    height: auto;
    padding-bottom: 3%;
    width: 70%;
    background: rgb(79, 79, 82);
    margin-left: 30%;
    margin-top: 13%;
    font-size: 27px;
    border-radius: 2%;
}
  
.text {
    height: 18%;
    width: 90%;
    margin-left: 5%;
    margin-top: 8%;
    border-radius: 3%;
}
  
.btn-lg {
    margin-top: 8%;
    margin-left: 5%;
    font-size: 48px;
    font-family: fuente_1;
    height: 85%;
    width: 90%;
}
  
.imglacman {
    height: 85%;
    width: 95%;
    margin-left: 30%;
    margin-top: 8%;
}
  
.btnc{
    width: 50%;
    font-size: 15px;
}
  
.jugar {
    font-size: 50px;
    margin-right: 2%;
}
  
.btn-group-toggle {
    height: 10%;
    width: 70%;
    margin-top: -8%;
    margin-left: 16%;
    font-family: fuente_1;
}
  
.jprivados {
    color: rgb(218, 216, 216);
    margin-top: 8%;
    font-family: fuente_1;
}
    
/* Modal Play/Create CSS */
.cplay{
    margin-left: 10%;
    margin-top: 10%;
}

.btDanger{
    width: 100px; 
    height: 30px; 
    margin-left: 70px;
}

.classClave{
    margin-left: 10px;
    height: 40px;
    width: 150px;
    font-size: 20px;
}

.classCodigo{
    margin-top: 18px;
    width: 230px;
}

.classAcceso{
    margin-left: 10px;
    color: white;
}

.classCA{
    font-size: 11px;
    color: white;
}

.imgCrearJuego{
    margin-left: 15px;
    width: 450px;
    height: 150;
}

.classClave::placeholder{
    text-align: center;
}

/* Modal join CSS */ 
.cjoin{
    margin-left: 15%;
    margin-top: 10%;
}

.classCodigo2{
    margin-left: 55px;
    margin-top: 18px;
    width: 230px;
}

.imgUnirJuego{
    margin-left: 25px;
    width: 230px;
    height: 27px;
}