@font-face {
  font-family: fuente_1;
  font-size: 100px;
  src: url(../fonts/ArcadeClassic.ttf);
}

@import url(https://allfont.es/allfont.css?fonts=a_monumento-demibold);

.ventana {
  height: auto;
  padding-bottom: 3%;
  width: 70%;
  background: rgb(79, 79, 82);
  margin-left: 30%;
  margin-top: 13%;
  font-size: 27px;
  border-radius: 2%;
}

.imglacman {
  height: 85%;
  width: 80%;
  margin-left: 35%;
  margin-top: 8%;
}

.btn-primary {
  height: 16%;
  width: 60%;
  margin-top: 10%;
  margin-left: 20%;
  font-family: fuente_1;
}

.jugar {
  font-size: 50px;
  margin-right: 2%;
}

.btn-group-toggle {
  height: 12%;
  width: 70%;
  margin-top: -8%;
  margin-left: 16%;
  font-family: fuente_1;
}

.jprivados {
  color: rgb(218, 216, 216);
  margin-top: 8%;
  margin-left: 20%;
  font-family: "a_Monumento DemiBold", arial;
}

.texto {
  height: 18%;
  width: 70%;
  margin-left: 25%;
  margin-top: 8%;
  border-radius: 3%;
}

.btn-light {
  margin-right: 2%;
  margin-left: 90%;
  margin-top: 1%;
}
