.gifs {
   width: 400px;
   height: 200px;
   transform: translateX(170%) translateY(-280%);
}

.label {
transform: translateX(153%) translateY(0%);
}

.calcu {
   transform: translateX(160%) translateY(0%);  
}

 .firstColumn {
width: 100px;
}

.secondColumn {
width: 160px;
}

.tablas {
   transform: translateX(80%) translateY(0%);
}

.b1 {
transform: translateX(310%) translateY(0%);
}

.b2 {
transform: translateX(370%) translateY(0%);
}

.videos {
width: 440px; 
height: 220px;
transform: translateX(60%) translateY(-130%);
}